.page-content {
    @include clearfix;
    background-color: #F6F8FA;
    box-shadow: inset 0 1px 10px $light-gray, inset 0 -1px 10px $light-gray;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, .3), inset 0 -1px 10px rgba(0, 0, 0, .3);
    width: 100%;
    min-width: $page-width + 20;
    padding: $page-v-rhythm*4 0 $page-v-rhythm*3;

    &#page-content {
        box-shadow: none;
        padding: 0;

        .main-slides {
            padding: $page-v-rhythm*4 0 $page-v-rhythm*3;
        }
    }

    &.login {
        background: none;
        box-shadow: none;
        padding: $page-v-rhythm*3 0;
    }

    &.sticky {
        margin-top: 560px;

        .main-slides {
            padding: $page-v-rhythm*6 0 $page-v-rhythm*3;
        }
    }
}

    .content-header {
        min-height: 70px;
        padding: 0 0 $page-v-rhythm;
    }

    .main-content-container {
        @include span-columns(4 of 6);
    }

    .sidebar {
        @include span-columns(2 of 6);

        > section {
            margin: 0 0 $page-v-rhythm;
        }
    }