.global-footer {
    background: #91949B url(../images/photography/bg-mountain.jpg) no-repeat center bottom;
    @include background-size(cover);
    color: $white;
    @include dark-text-shadow;
    min-height: 900px;
    padding: $page-padding*6 0;
    
    &.login {
        background: none;
        height: auto;
        min-height: 0;
        padding: $page-v-rhythm*3 0;
    }
}

.main-footer {
    border-top: 1px solid $light-gray;
    border-top: 1px solid rgba(255, 255, 255, .3);
    @include clearfix;
    @include font-size(14);
    margin: $page-padding*4 0 0;
    padding: $page-padding*3 0 0;

    a {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    .cell {
        padding: 0 0 0 $page-padding*3;

        &:first-child {
            padding: 0;
        }
    }
}

.site-map {
    float: left;
    @include font-size(12);

    li {
        margin: 0 0 $page-v-rhythm/2;
    }
}

.connect-map {
    @include clearfix;
    float: right;

    nav {
        float: right;

        &:first-child {
            margin: 0 0 0 $page-padding*3;
        }
    }

    .social-media-links {
        li {
            display: inline-block;
            @include font-size(26);
            margin: 0 $page-padding 0 0;
        }
    }
}

.contact-links {
    margin: 0 0 $page-v-rhythm;

    li {
        @include font-size(14);
        margin: 0 0 $page-padding;

        .icon {
            display: inline-block;
            text-align: center;
            width: 20px;
        }
    }
}

.address {
    @include font-size(12);
    line-height: 1.7;
}