body {
    background: #91949B;
    
    &.login-layout {
        background: #91949B url(../images/photography/bg-mountain.jpg) no-repeat;
        @include background-size(cover);
        background-position: center bottom;
        color: $white;
    }
}

hr {
    background: $light-gray;
    height: 1px;
    margin: $page-v-rhythm 0;
    width: 100%;
}