.global-header {
    background: url(../images/photography/bg-meeting.jpg) no-repeat center 0;
    color: $white;
    @include dark-text-shadow;
    height: 560px;
    width: 100%;
    min-width: $page-width;

    @include media(min-width 2000px) {
        @include background-size(cover);
    }

    &.login {
        background: none;
        height: auto;
    }
}