.checkbox-container {
    .input-checkbox {
        @extend .hidden;
        
        + label {
            cursor: pointer;
            padding: 5px 0 0 40px;
            position: relative;

            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 0;
            }

        }

        &:checked {
            + label {
                &:before {

                }
            }
        }
    }
}