.main-content {
	padding-top: 5%;
	max-width: 100%;
}
.trans-mode {
	height: auto;
	margin: 0px 0 8px 0;
	background: whitesmoke;
	cursor: pointer;

	h3 {
		text-align: center;
		margin-top: 0;
	}

	/*&:nth-child(odd) {
		margin-right: 15px;
	}*/
}

#subway-icon, #bus-icon, #rail-icon, #boat-icon, .icon {
	height: 100px;
	width: 100%;
	display: inline;
	margin: 0 auto;
	padding: 2%;
	cursor: pointer;
}

.trans-mode:hover, #subway-icon:hover, #bus-icon:hover, #rail-icon:hover, #boat-icon:hover {
	.positive-space {
		fill: red;
	}
}