// Colors
// ---------------------------------------

$red: #FF7373;
$yellow: #FFC388;
$green: #A1C960;

$white: #FFF;
$black: #000;

$eggshell: #F1F2F3;

$lighter-gray: #D1D3D4;
$light-gray: #909399;
$gray: #464A51;

$blue: #00A9E4;
$light-blue: #86C9ED;

$cement: #9EB3C2;
$light-cement: #B3CBDD;

$color-primary: $gray;
$color-secondary: $blue;
$color-tertiary: $cement;


// Fonts
// ---------------------------------------

$font-stack: 'Helvetica Neue', 'Arial', sans-serif;

$font-primary: 'Open Sans', $font-stack;


// Misc
// ---------------------------------------

$page-nav-breakpoint: 950px;

$page-v-rhythm: 20px;

$page-padding: 10px;
$page-width: 1020px;
