<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1"
	 id="rail-icon" sodipodi:docname="20090101024514!Metro-M.svg" inkscape:version="0.46" inkscape:output_extension="org.inkscape.output.svg.inkscape" sodipodi:version="0.32" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px" height="400px"
	 viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
	<defs>
		
		
			<inkscape:perspective  inkscape:persp3d-origin="200 : 133.33333 : 1" sodipodi:type="inkscape:persp3d" inkscape:vp_x="0 : 200 : 1" inkscape:vp_y="0 : 1000 : 0" id="perspective10" inkscape:vp_z="400 : 200 : 1">
			</inkscape:perspective>
	</defs>
	<sodipodi:namedview  inkscape:window-width="1231" inkscape:window-height="942" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:current-layer="Layer_1" inkscape:window-x="207" inkscape:window-y="0" showgrid="false" borderopacity="1.0" guidetolerance="10.0" gridtolerance="10.0" pagecolor="#ffffff" bordercolor="#666666" objecttolerance="10.0" inkscape:cx="126.90217" inkscape:cy="200" inkscape:zoom="1.165" id="base">
		</sodipodi:namedview>
	<path class="positive-space" id="path3157" fill="#1D1D1B" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" d="M392.5,200.954
		C392.5,94.119,302.981,7.5,200.474,7.5C94.115,7.5,7.5,94.119,7.5,200.954C7.5,306.821,94.115,392.5,200.474,392.5
		C306.832,392.5,392.5,307.296,392.5,200.954"/>
	<path fill="#FFFFFF" d="M272.5,276.709c0,6.294-3.868,11.396-8.64,11.396H137.14c-4.771,0-8.64-5.103-8.64-11.396V87.142
		c0-6.293,16.829-25.642,21.6-25.642h102.24c4.771,0,20.16,19.349,20.16,25.642V276.709z"/>
	<path class="positive-space" fill="#1D1D1B" d="M251.62,199.163c0,6.261-3.346,11.337-7.474,11.337h-86.573c-4.127,0-7.474-5.076-7.474-11.337v-95.325
		c0-6.262,3.347-11.338,7.474-11.338h86.573c4.128,0,7.474,5.076,7.474,11.338V199.163z"/>
	<ellipse class="positive-space" fill="#1D1D1B" cx="150.1" cy="265.202" rx="7.92" ry="7.5"/>
	<ellipse class="positive-space" fill="#1D1D1B" cx="252.34" cy="265.202" rx="7.92" ry="7.5"/>
	<circle class="positive-space" fill="#1D1D1B" cx="200.86" cy="77.5" r="10"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="159.87" y1="280.269" x2="139.5" y2="344.934"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="20" stroke-miterlimit="10" x1="239.107" y1="280.271" x2="259.5" y2="344.931"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="7" stroke-miterlimit="10" x1="200.5" y1="63.75" x2="200.5" y2="42.5"/>
	<line fill="none" stroke="#FFFFFF" stroke-width="7" stroke-miterlimit="10" x1="225.5" y1="42.5" x2="175.5" y2="42.5"/>
</svg>
