// Fonts
// ---------------------------------------
%font-primary {
    font-family: $font-primary;
}

// Layout
// ---------------------------------------
%cell {
    display: table-cell;
    padding: 0 $page-padding;
    vertical-align: middle;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &.last {
        padding-right: 0;
    }
}

%clearfix {
    @include clearfix;
}

%hidden {
    @extend .hidden;
}

%inline-block {
    @include inline-block;
}

%v-rhythm {
    margin-top: $page-v-rhythm;

    &:first-child {
        margin-top: 0;
    }
}

%v-rhythm-secondary {
    margin-top: $page-v-rhythm/2;

    &:first-child {
        margin-top: 0;
    }
}