// Grid Containers
// ---------------------------------------
.container,
.row {
  @extend %clearfix;
}

.container {
  margin: 0 auto;
  padding: 0 $page-padding;
  width: $page-width;
}

.table-grid,
.row {
  &.secondary {
    padding: 0 $page-padding*5;
  }
}

// Grid
// ---------------------------------------
$grid-columns: 12;

@for $i from 1 through ($grid-columns) {
  .span#{$i} {
    @extend %clearfix;
    @include span-columns($i);
  }
}

// Table Grid
// ---------------------------------------
.table-grid {
    display: table;

    .cell {
      @extend %cell;
    }
}

@for $i from 1 through ($grid-columns) {
    .cell-span#{$i} {
        @extend %cell;
        @extend %clearfix;
        width: $i/$grid-columns * 100%;
    }
}