.main-slides {

    > .main-slide-item {
        @include opacity(0);
        
        &.flex-active-slide {
            @include opacity(1);
        }

        .container {
            padding: 0;
        }
    }
}

    // Arrows for Main Navigation

    #page-content {
        position: relative;

        > .flex-direction-nav {
            a {
                background: $gray;
                background: rgba(0, 0, 0, .5);
                border: 0;
                color: $white;
                @include font-size(42);
                height: auto;
                margin: 0;
                margin-top: -33px;
                @include opacity(1);
                @include transition(all 0.3s ease-in-out);
                text-indent: 0;
                top: 50%;
                width: auto;
                z-index: 20;

                &:hover {
                    background: darken($gray, 10%);
                    background: rgba(0, 0, 0, .8);
                }

                &.flex-prev {
                    border-radius: 0 5px 5px 0;
                    left: 0;
                    padding: $page-v-rhythm $page-padding*1.5 $page-v-rhythm $page-padding*2;
                    text-align: right;
                }

                &.flex-next {
                    border-radius: 5px 0 0 5px;
                    right: 0;
                    padding: $page-v-rhythm $page-padding*2 $page-v-rhythm $page-padding*1.5;
                    text-align: left;
                }
            }
        }
    }


    // Arrows for Process Slider Navigation

    .plex-control-nav {
        text-align: center;

        li {
            display: inline-block;

            a {
                background: lighten($light-cement, 10%);
                border-radius: 12px;
                display: inline-block;
                @include hide-text;
                height: 12px;
                margin: 0 5px;
                width: 12px;

                &.plex-active {
                    background: $cement;
                }
            }
        }
    }